html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color:#fffeb3; 
}

/* Create your styles below */

ul {
	list-style: none;
}


